@import "./import";
@import "./__responsive";

.menu {
  @include adapt(tab-land) {
    height: 30vh
  };
  @include adapt(tab-port) {
    height: 37vh;
  };
  @include adapt(phone) {
    height: max-content;
  };
  height: max-content;
  //background-color: rgb(221, 220, 220);
  background-color: white;
  width: 75%;
  margin: 0 auto;
  padding: 1.5rem 0;

  &_title {
    text-align: center;
    h1 {
      padding: 2rem 0;
      font-size: 1.8rem;
      font-weight: 700;
      @include adapt(tab-land) {
        font-size: 2.1rem;
      };
    }
  }

  &_box {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    //grid-gap: .5rem;
    & > * {
      //background-color: antiquewhite;
    }
    @include adapt(tab-port) {
      width: 90%;
      grid-template-columns: 30% 70%;
    }
    @include adapt(phone) {
      display: block;
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-left: 5rem;
      p {
        margin: 0 auto;
        line-height: 1.5rem;
        width: 90%;
        @include adapt(tab-land) {
          font-size: 1.3rem;
          line-height: 1.7rem;
          width: 80%;
        };
        @include adapt(tab-land) {
          font-size: 1.3rem;
          width: 100%;
        };
      }

      button {
        margin: 2rem auto;
        padding: 1rem 2rem;
        border: 0;
        border-radius: 100px;
        color: white;
        background: $red-1;
        cursor: pointer;
        @include buttonEffect;
      }
    }

    &-img {
      justify-self: center;
      align-self: center;
      margin-bottom: 1rem;
      text-align: center;
      img {
        width: 20rem;
        height: 17rem;
        display: inline-block;
      }
    }
  }
}
